body {
    background-color: #FAFAFA;
}

.loginpage__main{
    display: flex;
    margin: 25px;
}

.loginpage__logo{
    width: 175px;
    margin-top: 25px;
}
.loginpage__rightcomponent {
    height: 380px;
    width: 350px;
    border: 1px solid #dbdbdb;
    margin-top: 25px;
    text-align: center;
    background-color: white;
}

.loginPage__signin {
    margin-top: 25px;
}

.loginpage__text {
    width: 258px;
    height: 36px;
    margin: 5px;
    border: 1px solid #DBDBDB;
    background-color: #FAFAFA;
    padding-left: 10px;
    border-radius: 5px;
}

.login__button {
    width: 270px;
    height: 36px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 5px;
    border: 1px solid #0395f6;
    background-color: #0395f6;
    color: white;
}