.loginpage__main{
    display: flex;
    margin: 25px;
}

.loginpage__logo{
    width: 175px;
    margin-top: 25px;
}
.loginpage__rightcomponent {
    height: 380px;
    width: 350px;
    border: 1px solid #dbdbdb;
    margin-top: 25px;
    text-align: center;
}

.loginPage__signin {
    margin-top: 25px;
}

.loginpage__text {
    width: 258px;
    height: 36px;
    margin: 5px;
    border: 1px solid #DBDBDB;
}

.login__button {
    width: 270px;
}